/* =================
common css start   
==================== */
*{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}
.container{
    width: 1600px ;
    margin: 0 auto;
}
ul,ol{
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
}

.flexbox{
    display: flex;
}
span{
    display: inline-block;
}
/* =================
common css end
==================== */
/* =================
nav css start
==================== */
nav {

    background-color: white;
}

nav .logo{
    width: 20%;  
     
}



nav .menu-box {
    width: 60%;
    justify-content: center;
    display: flex; 
}


nav .menu-box ul{
    column-gap: 40px;
}
nav .menu-box ul li:first-child{
    font-weight: 700;
}
nav .false{
    width: 20%;
    
}
.navber-one{
    padding: 32px 0;
}
.navber-two{
    background-color: #F5F5F3;
    padding: 25px 0;
    align-items: center;
}
.navber-two .category-bar {
	width: 20%;
	display: flex;
	align-items: center;
	column-gap: 12px;
	cursor: pointer;
	
}
.navber-two .category-bar .before {
    position: relative;
    padding-left: 45px;
}

.navber-two .category-bar .before::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    width: 20px;
    height: 3px;
    background-color: #262626;
}
.navber-two .category-bar .before::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 0;
    width: 16px;
    height: 3px;
    background-color: #262626;
}

.navber-two .search-bar{
    width: 60%;
  
}
.navber-two .search-box{
    position: relative;
    width: 601px;
    margin: auto; 
}
.navber-two .search-bar i {
    position: absolute;
    top: 17px;
    right: 21px;

}
.navber-two .search-bar input {
    width: 601px;
    padding: 18px 21px;
    border: 0; 
    color: #C4C4C4;
    font-size: 14px;
}
.navber-two .search-bar input::placeholder{
    color: #C4C4C4;
    font-size: 14px;
}
.navber-two .icon-bar {
    width: 20%;
    display: flex;
    align-items: center;
    column-gap: 42px;
    cursor: pointer;
    justify-content: flex-end;
}
.navber-two .icon-bar .left{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.navber-two .icon-bar img.dot{
    width: 10px;
  
}

.menu-box .flexbox li a{
    color:#767676;
}




#main{
    margin-top: 125px;
}
#main .title {
    margin-bottom: 130px;
}
#main .title h2{
    font-size: 49px;
    margin-bottom: 12px;
}
#main .title ul{
    display: flex;
    column-gap: 12px;
}
#main .title ul li img{
    width: 10px;
}
#main .flexbox{
    column-gap: 40px;
}
/*===================== sideber=============== */
#main .sideber{
    width: 20%;

}

#main .zio{
    visibility: hidden;
}


#main .sideber ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 22px;
    border-bottom: 1px solid #F0F0F0;
    color: #767676;
    font-size: 16px;
    font-weight: 400;
}
#main .sideber ul li span{
    color: #767676;
}
#main .sideber h4{
    margin-bottom: 35px;
    font-size: 20px;
    font-weight: 700;
    position: relative;
}


#main .sideber h4 span {
    transform: rotate(180deg) translateY(-18%);
    position: absolute;
    right: 0;
    bottom: 0;
    
}
#main .sideber .sortcategory, .sortcolor, .sortprice{
    margin-bottom: 53px;
}
#main .sideber .sortcolor ul li{
    justify-content: flex-start;
    column-gap: 10px;
}
/*===================== sideber css end=============== */
/*===================== product css start=============== */
#main .product{
    width: 80%;

   
}

.shoping{
    position:relative ;
}

.bar{
    position: absolute;
}

#main .listed .listed-one{
    display: flex;
}
#main .listed .listed-one .left{
    width: 20%;
}
#main .listed .listed-one img{
    margin-right: 20px;
}
#main .listed .listed-one {
    display: flex;
    margin-bottom: 50px;
}
 #main .ki{
    margin-bottom: 20px;
 } 

 #main .oi,.oii{
    color: #767676;
 } 

 .bar{
    visibility: hidden;
 }

#main .listed .listed-one .right{
    display: flex;
    justify-content: flex-end;
    width: 80%;
    column-gap: 40px;
}
#main .listed .listed-one .right  .feature ul {
    display: flex;
    padding: 12px 0;
    width: 240px;
    border: 1px solid #F0F0F0;
    padding-left: 21px;
    position: relative;
    box-sizing: border-box;
}
#main .listed .listed-one .right .show ul{
    display: flex;
    padding: 12px 0;
    width: 140px;
    border: 1px solid #F0F0F0;
    padding-left: 21px;
    position: relative;
    box-sizing: border-box;
}
#main .listed .listed-one .right .show ul li i, .feature ul li i{
    position: absolute;
    right: 21px;
}
#main .listed .listed-one .right .feature {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

#main .listed .listed-one .right .show{
    display: flex;
    align-items: center;
    column-gap: 15px;
}

#main .listed .listed-one .right .show select{
       
    width: 400px;

}
/* =================
product css start  
==================== */

.listed .productitems  .item{
    width: 25%;
    height: 465px;
   
}
.listed{
   
    margin-bottom: 118px;
}
.listed .title{
    margin-bottom: 48px;
}
.listed .title h2{
    font-size: 39px;
    font-weight: 700;
}


.listed .productitems {
    display: flex;
    column-gap: 40px;
    position: relative;
    margin-bottom: 62px;
}
.listed .productitems .item {
    width: 33%;
    position: relative;
    height: 465px;
}
.listed .productitems .item img{
    width: 100%;
}
.listed .productitems .item h5{
    font-size: 20px;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 16px;
}
.listed .productitems .item .flexbox{
    justify-content: space-between;
    align-items: center;
}
.listed .productitems .item span{
    color: #767676;
    font-size: 16px;
    font-weight: 400;
}
.listed .productitems .item a {
    background-color: #262626;
    color: white;
    font-size: 14px;
    font-weight: 700;
    padding: 9px 32px;
    position: absolute;
    top: 20px;
    left: 20px;
}
.listed .productitems .item .img-box{
    position: relative;
}
.listed .productitems .item .img-box .inner-items {
    background: white;
    height: 156px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    row-gap: 22px;
    visibility: hidden;
    opacity: 0;
    transition: .4s all ease-in-out;
}
.listed .productitems .item .img-box .inner-items .inner-item{
    column-gap: 18px;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    box-sizing: border-box;
    

}
.listed .productitems .item .img-box .inner-items .inner-item:last-child p{
    font-weight: 700;
}
.listed .productitems .item:hover .img-box .inner-items{
    visibility: visible;
    opacity: 1;
}
.listed .right-arrow {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #979797;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: 33%;
    right: 0;
}
.listed .left-arrow{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #979797;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: 33%;
    left: 0;
    z-index: 1;
}
#main .count{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 120px;
}
#main .count .left{}
#main .count .left ul{
    display: flex;
    column-gap: 15px;
}
#main .count .left ul li{
    width: 36px;
    height: 36px;
    display: flex;
    border: 1px solid #F0F0F0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    color: #767676;
    cursor: pointer;
}
#main .count .left ul li:first-child{
    background: #262626;
    color: white;
}
#main .count .left ul li:nth-child(5){
    border: 0;
    font-size: 25px;
}


/* =================
product css end  
==================== */


/* =================
footer css start
==================== */
footer{
    background: #F5F5F3 ;
    padding: 55px 0;
}
footer .footer-deatils{
    display: flex;
    column-gap: 144px ;
    
   
}

footer .footer-deatils .item h4{
    font-size: 16px;
    margin-bottom: 18px;
    font-weight: 700;
}
footer .footer-deatils .item ul li{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #6D6D6D;
}

footer .footer-deatils .item p{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 16px;
}

footer .footer-deatils .item span{
    color: #6D6D6D;
}
/* =================
Footer css end
==================== */